<% layout("/layouts/boilerplate") %>
<body>
    <h1>All Listings</h1>
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->
    <% for(let listing of allListings) { %>
       <a href="/listings/<%= listing._id %>"><li><%= listing.title %></li></a>
        <% } %>
</body>
