
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
    flex:1;
}
.navbar-brand::hover{
    color: #fe424d;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-location{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;

}

/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222 !important;
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #fe424d !important;
}

.f-info-links,.f-info-brand{
    width:100%;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
}

.f-info-socials{
    width:100%;
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;

}

.card-text{
    font-size: 400;
}

.listing-link{
    text-decoration: none;

}

/* .card-effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none;
}
/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none;
}

/* Show Page */
.show-img{
    height: 30vh;
}
.btns {
    margin-top: 1rem;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none;
}
.ed-dl-btn{
    display: flex;;
}

.show-card{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/* //map */
.map {
  width: 80vh;
  height: 350px;   /* REQUIRED */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: inline-block;
  /* mioverflow: visible !important; */
}

.maplibregl-ctrl-bottom-left{
    display: none !important;
}
.maplibregl-ctrl-bottom-right {
    display: none;
}
